@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #95e9f6;
  color: rgb(49, 46, 46);
  font-family: "Ubuntu Mono";
  /* display: flex; */
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 30px;
}

